name: Publish Mod
on: [workflow_dispatch] # Manual trigger

permissions:
    contents: write

jobs:
    build:
        runs-on: ubuntu-22.04
        container:
            image: mcr.microsoft.com/openjdk/jdk:21-ubuntu
            options: --user root
        steps:
            - uses: actions/checkout@v4
            - run: ./gradlew build publishMods
              env:
                  # modrinth-id: 9ySQVrz2
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}